.cardcontainer {
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    margin-top: 150px;
}

/* Estilos de la tarjeta */
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    max-width: 200px;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.2rem;
    margin: 0;
}

.card p {
    font-size: 0.9rem;
    color: #555;
}

.card button {
    background-color: #000; 
    color:  #f80067;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.card button:hover {
    background-color: #333; 
}
.titulo{
    font-size: 2rem; 
    color:#f80067 ; 
    background-color: #020202; 

    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
    margin-top: 30px;
}
.button{
    background-color: #f80067;
    padding: 10px 20px; /* Espaciado del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente del botón */
    display: block; /* Configuración para bloque */
    margin: 0 auto; /* Centrar horizontalmente */
  }